.expander:not(:last-child) {
    margin-bottom: 5px;
}

.expander.active {
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
}

.expander__input {
    display: none;
}

.expander__label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 10px 8px;
    border-radius: var(--radius);
    cursor: pointer;
    user-select: none;
}

.expander__label:hover,
.expander.active .expander__label {
    background-color: var(--ligth-gray);
}

.expander__count {
    flex-grow: 1;
}

.expander__toggle {
    width: 15px;
    height: 15px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .expander & {
        background-image: url(../../assets/caret-up.svg);
    }
    .expander.active & {
        background-image: url(../../assets/caret-down.svg);
    }
}
