.user-info {
    position: absolute;
    padding: 10px;
    max-width: fit-content;
    border-radius: var(--radius);
    background-color: var(--main-background);
    box-shadow: var(--shadow);
    transform: translateY(70%);
}

.user-info__list {
    display: flex;
    flex-direction: column;
}

.user-info__img {
    max-width: var(--avatar-size);
    max-height: var(--avatar-size);
}
