.comment {
    display: flex;
    align-items: center;
    gap: 30px;
    max-width: 100%;
}

.comment__text {
    align-self: center;
}

.comment__user {
    align-self: flex-start;
    min-width: 200px;
    max-width: 200px;
}

@media (max-width: 768px) {
    .comment {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }

    .comment__text {
        align-self: flex-start;
    }

    .comment__user {
        min-width: fit-content;
    }
}
