.answer {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    max-width: 100%;
}

.answer__text {
    align-self: center;
}

.answer__user {
    min-width: 200px;
    max-width: 200px;
}

@media (max-width: 768px) {
    .answer {
        flex-direction: column;
        gap: 8px;
    }

    .answer__text {
        align-self: flex-start;
    }

    .answer__user {
        min-width: fit-content;
    }
}
